body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#f4f4ef;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background: white;
  text-align: left;
  display: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
  
  position: fixed;
}

.navbar h2 {
  padding: 20px;
  margin: 0;
  font-weight: 200;
  letter-spacing: 4px;
  padding-left: 3rem;
}


.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 20px;
  margin-top: 5rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.post-container {
  display: block;
  flex-direction: column;
  margin: 2rem 2rem;
  padding: 1rem;
  width: 60%;
  text-align: center;
  background: white;
  box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
  border-radius: 1.5rem;
}

.post-content {
  text-align: left;
  padding: 1.5rem;
}

.post-content h2 {
  font-weight: 400;
}

.post-content p {
  font-weight: 400;
  color: #636363;
}

.box-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.post-heading {
  font-weight: 400;
  font-size: 40px;
  color: #636363;
}

form {
  text-align: center;
}

input {
  margin: .5rem;
  height: 2.5rem;
  width: 85%;
  border: 1px solid #dbe2e8;
  border-radius: 2px;
  outline: none;
}

textarea {
  margin: .5rem;
  height: 10rem;
  width: 85%;
  border: 1px solid #dbe2e8;
  border-radius: 2px;
  outline: none;
}

button {
  display: flex;
  background:#02b3e4;
  padding: 1rem 3rem;
  border-radius: 1rem;
  color:#fff;
  font-family:'Work Sans',sans-serif;
  border: none;
  font-size: 12px;
  margin: .2rem;
  margin-top: 2rem;
}

.button-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}